<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.nolanlawson.apptracker" android:versionCode="10"
	android:versionName="1.0.9" android:installLocation="internalOnly">
	
	<application android:icon="@drawable/holmes_icon" android:label="@string/app_name">
		<activity android:name=".AppTrackerActivity" android:label="@string/app_name"
		android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".AppTrackerWidgetConfiguration"
			android:label="@string/app_tracker_config" android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		
		
		<activity android:name=".SettingsActivity"
			android:label="@string/settings" android:configChanges="keyboard|keyboardHidden|orientation"/>
		
		<activity android:name=".HtmlFileActivity" android:theme="@android:style/Theme.Dialog" />
			
		<receiver android:name=".AppTrackerWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<data android:scheme="app_tracker_widget"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
			
			
			<intent-filter>
				<action android:name="com.nolanlawson.apptracker.action.PAGE_UPDATE_FORWARD" />
				<data android:scheme="app_tracker_widget" />
			</intent-filter>

			<intent-filter>
				<action android:name="com.nolanlawson.apptracker.action.PAGE_UPDATE_BACK" />
				<data android:scheme="app_tracker_widget" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="com.nolanlawson.apptracker.action.RESTART_SERVICE" />
				<data android:scheme="app_tracker_widget" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED"/>
				<data android:scheme="package"/>
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED"/>
				<data android:scheme="package"/>
			</intent-filter>
						
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED"/>
				<data android:scheme="package"/>
			</intent-filter>
			
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/tracker_widget_info" />
		</receiver>


		<service android:name=".AppTrackerService" />
		
		<service android:name=".UpdateAppStatsService" />

	</application>


	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

</manifest> 
